// COLORS
$color-white: #fff;
$color-grey: #f7f7f7;
$color-main: #00ff00;
$color-secondary: #55e88a;
$color-dark: #000000;
$card-color-main: #7ed567;
$card-color-secondary: #28b485;

// GRID VARIABLES
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;

// SIZING AND SPACING
$margin-sm: 1rem;
$margin-lg: 2rem;
$padding-sm: 1rem;
$padding-lg: 2rem;
$color-red: #fff;
